@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  /* font-family: system-ui, sans-serif; */
  font-family: 'Montserrat', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.active {
  border: 1px solid;
  border-color: rgb(147 197 253);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.active-category {
  background-color: rgb(134 239 172);
  color: white;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.bg-catalogue-interior {
  background-image: url('/catalogue/interior.svg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.bg-catalogue-fashion {
  background-image: url('/catalogue/fashion.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}


.bg-catalogue-hoby {
  background-image: url('/catalogue/hoby.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left;
}

.bg-catalogue-gaming {
  background-image: url('/catalogue/gaming.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left;
}

/* @media (max-width: 768px) {
  .bg-catalogue-fashion {
    background-position: top;
    width: 33.3%;
    height: 88px;
    background-size: 100%;
  }
  .bg-catalogue-gaming {
    width: 33.3%;
    height: 88px;
    background-size: 100%;
  }
} */